<div class="header-bg page-area">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content text-center">
                    <div class="header-bottom">
                        <div class="layer2">
                            <h1 class="title2">Bienvenue dans {{name}}</h1>
                        </div>
                        <div class="layer3">
                            <h2 class="title3"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-light" role="alert" style="margin-top: 5em;">
        <a href="api/sports/" type="button" class="btn btn-primary btn-lg" style="display:inline-block;width:50%">les sports</a>
        <a href="api/athletes/" type="button" class="btn btn-secondary btn-lg" style="display:inline-block;width:49%">les athlètes</a>
</div>